@model Prooviulesanne.Models.Domain.Event


@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-3 left-side text-center" id="lisamine">

        <p id="ytext">Osavõtjad</p>
    </div>
    <div class="col-9">

        <img id="image" class="fit-image" src="~/img/libled.jpg" alt="randomimage">
    </div>
    <br />
</div>
<div class="justify-content-center" id="midcontainer3 " style="background-color: white">
    <div>
        <br />
        <h3>Osavõtjad</h3>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EventName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EventName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartingPlace)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartingPlace)
            </dd>
            <dt class="col-sm-2">
                Osavõtjad
            </dt>
            <dd class="col-sm-10">
                <partial name="_Enterprise" model="@Model.Enterprises" />
                <partial name="_Citizen" model="@Model.Citizens" />
            </dd>
            

            
        </dl>

    </div>


    <h1>Osavõtjate lisamine</h1>
    <hr />
    <form>
        <label class="radio-inline">
            <input checked type="radio" name="radio" onclick='document.getElementById("eraisik-form").style.visibility="visible" ; document.getElementById("ettevotte-form").style.visibility="collapse"' id="eraisik">eraisik
        </label>
        <label class="radio-inline">
            <input type="radio" name="radio" onclick='document.getElementById("eraisik-form").style.visibility="collapse" ; document.getElementById("ettevotte-form").style.visibility="visible"' id="ettevõtte">ettevõtte
        </label>
    </form>



    <div id="eraisik-form" style="visibility: collapse;">
        <partial name="_Create" model="@(new Prooviulesanne.Models.Domain.Enterprise(){EventId=Model.Id})" />

    </div>
    <div id="ettevotte-form" style="visibility: collapse;">
        <partial name="_CreateCitizen" model="@(new Prooviulesanne.Models.Domain.Citizen(){EventId=Model.Id})" />

    </div>


    <div>
    </div>
</div>



